<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.permission.CAMERA_FEATURES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPhgx-19l_lsLW1K_TiF2AnQst_LhOBqc"/>
        <activity
            android:name=".user_information_c"
            android:exported="false" />
        <activity
            android:name=".user_information"
            android:exported="false" />
        <activity
            android:name=".scan_result"
            android:exported="false" />
        <activity
            android:name=".scan"
            android:exported="false" />
        <activity
            android:name=".recommend"
            android:exported="false" />
        <activity
            android:name=".loanstatus"
            android:exported="false" />
        <activity
            android:name=".library_search"
            android:exported="false" />
        <activity
            android:name=".hope_book"
            android:exported="false" />
        <activity
            android:name=".book_search"
            android:exported="false" />
        <activity
            android:name=".announcement"
            android:exported="false" />
        <activity
            android:name=".FindPWActivity"
            android:exported="false" />
        <activity
            android:name=".FindIDActivity"
            android:exported="false" />
        <activity
            android:name=".terms"
            android:exported="false" />
        <activity
            android:name=".UserAccount"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>